@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;600;700;900&display=swap');

:root {
    /*
    * FONTS
    * S
    */
    --font-family: 'Playfair', serif;
    --font-size-s: 16px;
    --line-hight-s: 23px;
    --font-s: var(--font-size-s) / var(--line-hight-s) var(--font-family);

    /*
    * M
    */
    --font-size-m: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
    --line-hight-m: clamp(0.938rem, 0.795rem + 0.71vw, 1.438rem);
    --font-m: var(--font-size-m) / var(--line-hight-m) var(--font-family);

    /*
    * L
    */
    --font-size-l: 27px;
    --line-hight-l: normal;
    --font-l: var(--font-size-l) / var(--line-hight-l) var(--font-family);

    /*
    * XL
    */
    --font-size-xl: clamp(1.125rem, -1.118rem + 6.24vw, 4.5rem);
    --line-hight-xl: normal;
    --font-xl: var(--font-size-xl) / var(--line-hight-xl) var(--font-family);

    /*
    * XXL 
    */
    --font-size-xxl: clamp(4rem, 0.012rem + 11.1vw, 10rem);
    --line-hight-xxl: clamp(4rem, 0.012rem + 11.1vw, 10rem);
    --font-xxl: var(--font-size-xxl) / var(--line-hight-xxl) var(--font-family);

    /*
    * COLORS
    */
    --active-link: rgb(246 69 69);
    --button-error-color: #fff;
    --error-bg-color: red;

    /*
    * SPEED
    */
    --speed: 0.3s;
}
