.paragraph {
    color: var(--primary-color);
}

.S {
    font: var(--font-s);
}

.M {
    font: var(--font-m);
}

.L {
    color: var(--secondary-color);
    font: var(--font-l);
}

.XL {
    font: var(--font-xl);
}
