.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &Wrapper {
        text-align: center;
    }

    &Img {
        max-width: 80%;
    }

    &Title {
        margin: 0;
        color: var(--inverted-primary-color);
        font: var(--font-xxl);
        font-weight: 900;
    }

    &Link {
        padding: 0 25px;
        color: var(--inverted-primary-color);
        font: var(--font-l);
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        background: var(--inverted-bg-color);
        border-radius: 4rem;
        cursor: pointer;
    }
}

#pageP {
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: 900;
}
