.title {
    color: var(--title-color);
}

.M {
    font: var(--font-m);
    font-weight: 700;
}

.L {
    font: var(--font-xl);
    font-weight: 700;
}

.XL {
    font: var(--font-xxl);
    font-weight: 700;
}
