.app.dark {
    --bg-color: #000000;
    --primary-color: #ffffff; 
    --secondary-color: rgba(236, 230, 230, 0.35);
    --accent-color: #FEB302;
    --header-bg: rgba(195, 203, 218, 0.05);
}          