[data-theme='dark'] {
    --bg-color: #000;
    --primary-color: #fff;
    --secondary-color: #ece6e659;
    --accent-color: #feb302;
    --header-bg: #c3cbda0d;
    --inverted-bg-color: #fff;
    --inverted-primary-color: #252424;
    --button-color: #000;
    --error-color: red;
}
