[data-theme='light'] {
    --bg-color: #fff;
    --primary-color: #252525;
    --secondary-color: #00000059;
    --accent-color: #feb302;
    --header-bg: #53ffff0d;
    --inverted-bg-color: #000;
    --inverted-primary-color: #adacac;
}
