.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

#errorP {
    margin-bottom: 10px;
    color: var(--primary-color);
}
